<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>한국 코로나 실시간 대화 서비스</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="http://koronachat.com/">
        <meta content="코로나챗 코로나 실시간 대화 서비스 Korea corona chat service." name="description" />
        <meta property="og:type" content="website"> 
		<meta property="og:title" content="코로나챗 한국 코로나 실시간 대화 서비스">
		<meta property="og:description" content="코로나챗 한국 코로나 실시간 대화 서비스">
		<meta property="og:image" content="http:/www.koronachat.com/assets/img/virus.png">
		<meta property="og:url" content="http://www.koronachat.com">
        <meta content="HUME" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- third party css -->
        <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

        <!-- App css -->
        <!-- build:css -->
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <!-- endbuild -->
        <script src="https://kit.fontawesome.com/5490e58072.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=cyl93xvkvp"></script>
        <style>
           #messages{
               overflow: scroll;
               height: 300px;
               list-style-type: none; margin: 0; padding: 0;
           } 
           #messages li { padding: 5px 10px; }
           .mymsg{
               text-align: right;
           }

           .pin{
               width:30px;
               height: 30px;
               border-radius: 30px;
               line-height: 30px;
               text-align: center;
               font-weight: bold;
               background-color:#DE3163;
               color: white;
               
           }
        </style>
    </head>

    <body>
        <div style="display:none;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#target1" id=target1Btn>
                확진자1테스트
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#target2" id=target2Btn>
                확진자2테스트
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#target3" id=target3Btn>
                확진자3테스트
            </button>
        </div>
        <!--modal wrap-->
        
        <%- include("./target1.html") %>
        <%- include("./target2.html") %>
        <%- include("./target3.html") %>
        
        <!--end modal wrap-->

        <!-- Begin page -->
        <div class="wrapper">

            <div class="content-page">
                <div class="content">

                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <div 
                        class="text-primary"
                        style="width: 400px; height:38px; color:black; display: inline-block;
                        margin:20px;
                        line-height: 38px;
                        font-size:25px;
                        ">
                        <!--<i class="fas fa-notes-medical"></i>//-->
                        <img src='/assets/img/virus.png' width=40>
                            한국코로나챗
                        </div>
                        <!--
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="mdi mdi-menu"></i>
                        </button>
                        -->
                    </div>
                </div>
                    <!-- end Topbar -->
                    
                    <!-- Start Content-->
                    <div class="container-fluid">


                        <div class="row" style="height:50px;">
                            <ins class="kakao_ad_area" style="display:none;" 
                                data-ad-unit    = "DAN-s4p371aa2dlu" 
                                data-ad-width   = "320" 
                                data-ad-height  = "50"></ins> 
                            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                        </div>

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title" style="height:50px !important;">업데이트현황</h4>
                                    <h6>(1월31일 00시00분 업데이트) <i class="mdi mdi-autorenew widget-"
                                        style= "color:#727cf5;font-size: 25px;"
                                        ></i></h6>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-5">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-right">
                                                    <!--<i class="mdi mdi-account-multiple widget-icon"></i>//-->
                                                    <img src='/assets/img/flag.png'>
                                                </div>
                                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">대한민국</h5>
                                                <h3 class="mt-3 mb-3">감염자(확진) 12명</h3>
                                                <p class="mb-0 text-muted">
                                                    <span class="text-danger mr-2"><i class="mdi mdi-arrow-up-bold"></i> 유증상자 371명</span>
                                                    <span class="text-nowrap">1월 12일 몇시 몇분 마지막 감염자</span>  
                                                </p>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->

                                    <div class="col-lg-6">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-right">
                                                    <!--<i class="mdi mdi-cart-plus widget-icon"></i>//-->
                                                    <img src='/assets/img/world.png'>
                                                </div>
                                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Orders">전 세계</h5>
                                                <h3 class="mt-3 mb-3">감염자(확진) 11,952</h3>
                                                <p class="mb-0 text-muted">
                                                    <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 사망자 259명, 치사율 2.17%</span>
                                                    <span class="text-nowrap">1월 12일 몇시 몇분 마지막 사망자</span>
                                                </p>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->
                                </div> <!-- end row -->


                                <div class="row">
                                    <div class="card col-lg-12">
                                        <div class="card-body">
                                            <h4 class="header-title mb-2">확진자 동선</h4>
    
                                            <div class="slimscroll" style="max-height: 171px;">
                                                <div class="timeline-alt pb-0">
                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <a href="#" class="text-info font-weight-bold mb-1 d-block">1번째 감염자 | 중국(여,35)</a>
                                                            <small>(1월 19일) 중국 후베이성 우한시에 거주하는 중국 국적 여성으로 춘제를 맞이해 한국과 일본을 여행하기 위해 19일 인천으로 입국. 인천공항에서 격리</small>
                                                            <p>
                                                                <small class="text-muted">1월 20일(감염차수 : 1차)</small>
                                                            </p>
                                                        </div>
                                                    </div>
    
                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <a href="#" class="text-primary font-weight-bold mb-1 d-block">Product on the Bootstrap Market</a>
                                                            <small>Dave Gamache added
                                                                <span class="font-weight-bold">Admin Dashboard</span>
                                                            </small>
                                                            <p>
                                                                <small class="text-muted">30 minutes ago</small>
                                                            </p>
                                                        </div>
                                                    </div>
    
                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <a href="#" class="text-info font-weight-bold mb-1 d-block">Robert Delaney</a>
                                                            <small>Send you message
                                                                <span class="font-weight-bold">"Are you there?"</span>
                                                            </small>
                                                            <p>
                                                                <small class="text-muted">2 hours ago</small>
                                                            </p>
                                                        </div>
                                                    </div>
    
                                                    <div class="timeline-item">
                                                        <i class="mdi mdi-upload bg-primary-lighten text-primary timeline-icon"></i>
                                                        <div class="timeline-item-info">
                                                            <a href="#" class="text-primary font-weight-bold mb-1 d-block">Audrey Tobey</a>
                                                            <small>Uploaded a photo
                                                                <span class="font-weight-bold">"Error.jpg"</span>
                                                            </small>
                                                            <p>
                                                                <small class="text-muted">14 hours ago</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end timeline -->
                                            </div> <!-- end slimscroll -->
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card-->
                                </div>

                            </div> <!-- end col -->

                            <div class="col-xl-7">
                                <div class="card bg-dark">
                                    <div class="card-body">
                                        <h6 class="text-white"><i class="mdi mdi-cellphone-android"></i>증상 발생 시 관할보건소 또는 1399 상담하기!</h6>
                                        <h4 class="header-title text-white mb-4">코로나 실시간 현상황 가명대화</h4>
                                        
                                        <ul id="messages"></ul>
                                        
                                            <div class="input-group">
                                                <input class="form-control" id="m" autocomplete="off"
                                                placeholder="마스크 꼭 착용하세요!"
                                                /><button class="btn btn-warning" id=chat-send>
                                                    <i class="mdi mdi-clover" style="font-size:20px;"></i>
                                                </button>

                                            </div>
                                        
                                        
                                    </div> <!-- end card-->
                                </div> <!-- end col-->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                       <div class="row" style="height:250px;text-align: center;">
                            <ins class="kakao_ad_area" style="display:none;" 
                            data-ad-unit    = "DAN-s4mc6xs0ja04" 
                            data-ad-width   = "300" 
                            data-ad-height  = "250"></ins> 
                            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                        </div>

                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">신종 코로나 바이러스 대한민국 확진자 위치</h4>
                                       <div id="map" style="width:100%;height:600px;"></div>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col-->

                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                       
                                        <h4 class="header-title">신종 코로나 바이러스 국가별 현황</h4>
                                        <div class="mb-4 mt-4">
                                            <div id="world-map-markers" style="height: 224px"></div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">중국</h5>
                                        <span class="progress-value font-weight-bold">11,791명(사망자 259명) </span>
                                        <div class="progress-w-percent">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">태국</h5>
                                        <span class="progress-value font-weight-bold">19명 </span>
                                        <div class="progress-w-percent">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 19%;" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">싱가폴</h5>
                                        <span class="progress-value font-weight-bold">18명 </span>
                                        <div class="progress-w-percent">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">일본</h5>
                                        <span class="progress-value font-weight-bold">15명 </span>
                                        <div class="progress-w-percent mb-0">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">일본</h5>
                                        <span class="progress-value font-weight-bold">15명 </span>
                                        <div class="progress-w-percent mb-0">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>


                                        <h5 class="mb-1 mt-0 font-weight-normal">일본</h5>
                                        <span class="progress-value font-weight-bold">15명 </span>
                                        <div class="progress-w-percent mb-0">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">일본</h5>
                                        <span class="progress-value font-weight-bold">15명 </span>
                                        <div class="progress-w-percent mb-0">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">일본</h5>
                                        <span class="progress-value font-weight-bold">15명 </span>
                                        <div class="progress-w-percent mb-0">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <h5 class="mb-1 mt-0 font-weight-normal">일본</h5>
                                        <span class="progress-value font-weight-bold">15명 </span>
                                        <div class="progress-w-percent mb-0">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <a target="_blank" href="https://search.naver.com/search.naver?query=%EC%BD%94%EB%A1%9C%EB%82%98&where=news&ie=utf8&sm=nws_hty" class="btn btn-sm btn-link float-right mb-3">네이버검색
                                            <i class="mdi mdi-search-web ml-1" style="font-size: 30px;"></i>
                                        </a>
                                        <h4 class="header-title mt-2">신종 코로나 바이러스 실시간 뉴스</h4>

                                        <div class="table-responsive">
                                            <table class="table table-centered table-hover mb-0">
                                                <tbody>
                                                    <tr onclick="javascript:location.href='https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=102&oid=023&aid=0003504621';">
                                                        <td>
                                                            <h3 class="mb-1 font-weight-normal">[단독] 신종 코로나 12번째 확진자 다녀간 CGV 부천역점 영업중단</h3>
                                                            <h5 class="font-14 mb-1 font-weight-normal">국내 신종 코로나바이러스 감염증(우한 폐렴) 12번째 확진자가 CGV 부천역점을 다녀간 것으로 확인됐다.
                                                            </h5>
                                                            <span class="text-muted font-13">7시간 전 </span>
                                                            <span class="text-muted font-13" style="float:right;">조선일보</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h3 class="mb-1 font-weight-normal">[단독] 신종 코로나 12번째 확진자 다녀간 CGV 부천역점 영업중단</h3>
                                                            <h5 class="font-14 mb-1 font-weight-normal">국내 신종 코로나바이러스 감염증(우한 폐렴) 12번째 확진자가 CGV 부천역점을 다녀간 것으로 확인됐다.
                                                            </h5>
                                                            <span class="text-muted font-13">7시간 전 </span>
                                                            <span class="text-muted font-13" style="float:right;">조선일보</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h3 class="mb-1 font-weight-normal">[단독] 신종 코로나 12번째 확진자 다녀간 CGV 부천역점 영업중단</h3>
                                                            <h5 class="font-14 mb-1 font-weight-normal">국내 신종 코로나바이러스 감염증(우한 폐렴) 12번째 확진자가 CGV 부천역점을 다녀간 것으로 확인됐다.
                                                            </h5>
                                                            <span class="text-muted font-13">7시간 전 </span>
                                                            <span class="text-muted font-13" style="float:right;">조선일보</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h3 class="mb-1 font-weight-normal">[단독] 신종 코로나 12번째 확진자 다녀간 CGV 부천역점 영업중단</h3>
                                                            <h5 class="font-14 mb-1 font-weight-normal">국내 신종 코로나바이러스 감염증(우한 폐렴) 12번째 확진자가 CGV 부천역점을 다녀간 것으로 확인됐다.
                                                            </h5>
                                                            <span class="text-muted font-13">7시간 전 </span>
                                                            <span class="text-muted font-13" style="float:right;">조선일보</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h3 class="mb-1 font-weight-normal">[단독] 신종 코로나 12번째 확진자 다녀간 CGV 부천역점 영업중단</h3>
                                                            <h5 class="font-14 mb-1 font-weight-normal">국내 신종 코로나바이러스 감염증(우한 폐렴) 12번째 확진자가 CGV 부천역점을 다녀간 것으로 확인됐다.
                                                            </h5>
                                                            <span class="text-muted font-13">7시간 전 </span>
                                                            <span class="text-muted font-13" style="float:right;">조선일보</span>
                                                        </td>
                                                    </tr>
                                                  
                                                  
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col-->

                        

                        </div>
                        <!-- end row -->

                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                2020 ©<a href='http://hume.co.kr' target="_blank">HUME</a> with developer 오수진
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- bundle -->
        <script src="assets/js/app.min.js"></script>

        <!-- third party js -->
        <script src="assets/js/vendor/Chart.bundle.js"></script>
        <script src="assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="assets/js/pages/demo.dashboard.js"></script>
        <!-- end demo js-->


        <!--random color and name init-->
        <script>
            var myColor = "<%=color({luminosity: 'bright'})%>";
            var myName = "<%=name.generate(false)%>";
        </script>
        <!--end random color and name init-->

        <!-- socket script-->
        <script src="/socket.io/socket.io.js"></script>
        <script>

            

            $(function () {
                var socket = io();
                socket.emit('enter',myName);

                function sendmsg(){
                    var msg = {
                            name : myName,
                            color : myColor,
                            msg : $('#m').val()
                        }
                    socket.emit('chat message', msg);
                    $('#m').val('');
                }
            
                $('#m').keydown((key)=>{
                    if(key.keyCode==13){
                        sendmsg();
                    }
                });

                $('#chat-send').click(function(e){
                    e.preventDefault(); // prevents page reloading
                    sendmsg();    
                    return false;
                });
                socket.on('chat message', function(msg){
                  if(msg.name === myName){
                    $('#messages').append($('<li class="mymsg" style=\"color:'+msg.color+'\">').text("[나]"+msg.name+":"+msg.msg));
                  } else {
                    $('#messages').append($('<li style=\'color:'+msg.color+'\'>').text("▶"+msg.name+":"+msg.msg));
                  }
                  
                  $('#messages').scrollTop($('#messages').height());
                });
            });
        </script>
        <!-- end socket script-->

        <!-- naver map api-->
        <script>

            function targetBtnClickListener(idx){
                $('#target'+idx+'Btn').click();
            }
            
            var virusinfo = [];

            //요련 형식으로 추가하면됨
            virusinfo.push(
                {
                    pos : new naver.maps.LatLng(37.3613962, 127.1112487),
                    title : "1번째 감염자/중국(여,35)",
                    content : "(1월 19일) 중국 후베이성 우한시에 거주하는 중국 국적 여성으로 춘제를 맞이해 한국과 일본을 여행하기 위해 19일 인천으로 입국. 인천공항에서 격리",
                },
                {
                    pos : new naver.maps.LatLng(37.2621657,127.0372229),
                    title : "2번째 삼성이/한국(남,28)",
                    content : "(2월 1일) 삼성전자에서...",
                }
            );
            /////////////////아래는 최대한 손대지 않아두됨.

            var mapOptions = {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 3,
                zoomContorl:true,
                zoomControlOptions: {
                    position: naver.maps.Position.TOP_LEFT,
                    style: naver.maps.ZoomControlStyle.SMALL
                }
            };
            var map = new naver.maps.Map('map', mapOptions);

            var virusMarkers = [];
            var infowindows = {};
            for(var i=0;i<virusinfo.length;i++){
                var idx = i+1;
                
                virusMarkers.push(new naver.maps.Marker({
                    position: virusinfo[i].pos,
                    map: map,
                    title: 'virus'+idx,
                    icon: {
                        content: [
                                    '<div class="pin">',
                                        ''+idx,
                                    '</div>'
                                ].join(''),
                        
                    },
                    draggable: false
                }));        

                infowindows['virus'+idx]=new naver.maps.InfoWindow({
                    content: [
                    '<div class="iw_inner">',
                    '   <h5>'+virusinfo[i].title+'</h5>',
                    '   <p>'+virusinfo[i].content+'<br>',
                    '       <p style="color:#DE3163;font-weight:bold;" onclick = \"targetBtnClickListener('+idx+')\">동선확인하기</p>',
                    '   </p>',
                    '</div>'
                ].join(''),
                    maxWidth: 140,
                    backgroundColor: "#eee",
                    borderColor: "#2db400",
                    borderWidth: 5,
                    anchorSize: new naver.maps.Size(30, 30),
                    anchorSkew: true,
                    anchorColor: "#eee",
                    pixelOffset: new naver.maps.Point(20, -20)
                });
                
                naver.maps.Event.addListener(virusMarkers[i], "click", function(e) {
                        var title = e.overlay.title;
                        var infowindow = infowindows[title];
                        if (infowindow.getMap()) {
                            infowindow.close();
                        } else {
                            infowindow.open(map, e.overlay);
                        }
                });
            }
        </script>
        <!-- end naver map api -->

        
    </body>

</html>