<div class="modal fade" id="target17" tabindex="-1" role="dialog" aria-labelledby="target17" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자17</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">열 일곱번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 18일 ~ 1월 24일</h3>
                        <small>싱가포르 업무 관련 세미나 참석(세미나 22일까지)</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 24일</h5>
                        <small>귀국 / 공항철도 11:47 서울역/북창동순두부에서식사, 동대구역 KTX 도착(14:24), 택시를 이용하여 수성구 본가로 이동 (택시번호 파악 중)</small>
                    </div>
                </div>

                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 25일</h5>
                        <small>자가용을 이용한 북구(처가) 이동, 이동 중 주유소 이용 (주유소명 확인중), 택시를 이용하여 동대구역 도착 (21:11), 3번출구 이용 진입, 신관 맞이방 편의점 이용, SRT탑승 및 서울행 (21:26)</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 26일</h5>
                        <small>19:00 택시 승차</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 26일</h5>
                        <small>01:00 귀가 / 19:00 발열 등 증상발현 한양대 응급실(보호자 대기실, 진료처치룸) 방문․진료 / 검사결과 단순발열 / 택시타고 21:00귀가</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 27일</h5>
                        <small> 14:08 자택에서 택시로 삼성서울가정의원(건원대로 59) 이동 / 14:30 삼성서울가정의원(건원대로 59) 진료 / 15:12 구리종로약국 약처방 / 15:29 택시타고 귀가</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 29일</h5>
                        <small>이삭토스트(장자대로 74) ,프리마트방문(도보)</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 3일</h5>
                        <small>13:00~15:00 서울아산내과(체육관로 28) / 15:00 수약국, 본죽테이크 아웃-도보 / 20:15 광나루역 / 20:16 이마트 24 방문 / 95번 버스로 귀가</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 3일</h5>
                        <small>싱가포르 세미나에 함께 참석한 말레이시아인으로부터 양성판정을 받았다는 사실을 통보받음</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 4일</h5>
                        <small>12:30 한양대구리병원 선별진료소 방문(택시) / 확진검사 실시 / 자가격리</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 5일</h5>
                        <small>03:00 경기도보건환경연구원 북부지원에서 양성판정 통보 / 07:30 고양 명지병원 격리(국가지정병원)</small>
                    </div>
                </div>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 5일</h5>
                        <small> 07:00~08:00 한양대 구리병원 응급실 방문 노출현황파악 / 서울아산내과(체육관로 28) 및 삼성서울가정의원(건원대로 59) 오픈하지 말 것 통보 및 공문전달 예정</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>