<div class="modal fade" id="target5" tabindex="-1" role="dialog" aria-labelledby="target5" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자5</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">다섯번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 24일</h3>
                        <small>우한시 업무차 방문 후 1월 24일 우한시 인근 장사 공항을 통해 귀국하였으며 귀국 당시에는 증상이 없었음(오전5시 아시아나항공 OZ322 (장사→인천))</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 26일</h5>
                        <small>오후부터 몸살 기운이 생긴 것으로 확인, 서울시 성동구 소재 역술인(선녀보살) 방문 후 서울시 성북구 소재 숙소로 이동, 숙소에 머물며 인근 편의점(이마트24, GS25), 슈퍼마켓 (두꺼비마트) 방문</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 27일</h5>
                        <small>오전에는 서울시 성북구 일대 잡화점(다이소), 마사지숍 (선호케어) 이용, 오후에는 음식점(돈암동떡볶이), 슈퍼마켓(두꺼비마트, 럭키마트) 이용</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 28일</h5>
                        <small>서울시 성북구 소재 미용시설 이용, 이후 버스를 타고 이동하여 서울시 중랑구 일대 슈퍼마켓(가락홀마트), 음식점 (이가네 바지락칼국수) 등 이용, 지하철 이용하여 서울시 강남구 소재 웨딩숍(와이즈웨딩) 방문 후 지하철 이용하여 자택으로 이동</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 29일</h5>
                        <small>부친 차량 이용하여 중랑구 보건소 이동 후 검사 받고 자택으로 이동, 자택으로 귀가</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 30일</h5>
                        <small>자택에 머물다 확진 판정 받고 서울의료원으로 이송</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>