<div class="modal fade" id="target8" tabindex="-1" role="dialog" aria-labelledby="target8" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자8</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">여덟번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 23일</h3>
                        <small>7번째 환자와 우한시에서 원래 알고 지낸 사이로 귀국 시 같은 비행기 옆 좌석에 앉았던 것으로 확인되었다. 항공기 승객 및 승무원 등 접촉자에 대한 조사를 진행 중<br>* 1월23일 22:20 청도항공 QW9901 (청도→인천)</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 24일</h5>
                        <small>종일 자택에 머무름 </small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 25일</h5>
                        <small>서울 서초 소재 음식점에서 점심식사 후 아들 차량 이용하여 자택으로 이동, 이후 전북 군산 소재 음식점에서 저녁식사 후 자택으로 귀가</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 26일</h5>
                        <small>군산 일대 대중목욕탕(아센사우나) 방문(14:11~16:29) 후 군산 소재 음식점 방문</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 27일</h5>
                        <small>발열, 기침 등 증상으로 군산 소재 의료기관(유남진내과) 내원하여 약 처방 받고 자차 이용하여 귀가</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 28일</h5>
                        <small>발열, 기침 등 증상 지속되어 군산 소재 의료기관(군산의료원) 내원하여 진료 결과 의사환자로 분류되어 격리 조치, 코로나바이러스 음성으로 확인되어 자택으로 귀가</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 29일</h5>
                        <small>군산 소재 음식점(우리떡갈비)에서 점심식사 후 대형마트 (이마트 군산점) 방문</small>
                    </div>
                </div>
				<br>
				<div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 30일</h5>
                        <small>증상 호전되지 않아 익산 소재 의료기관(원광대병원)에 내원, 의사환자로 분류되어 입원 조치</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 31일</h5>
                        <small>입원 중 확진 판정</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>