<div class="modal fade" id="target14" tabindex="-1" role="dialog" aria-labelledby="target14" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자14(12번째 확진자의 가족)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">열 네번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">2월 2일</h3>
                        <small>자가 격리 중이었으며, 현재 역학조사가 진행중</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>