<div class="modal fade" id="target1" tabindex="-1" role="dialog" aria-labelledby="target1" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">첫번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <a href="#" class="text-info font-weight-bold mb-1 d-block">1번째 감염자 | 중국(여,35)</a>
                        <small>(1월 19일) 중국 후베이성 우한시에 거주하는 중국 국적 여성으로 춘제를 맞이해 한국과 일본을 여행하기 위해 19일 인천으로 입국. 인천공항에서 격리</small>
                        <p>
                            <small class="text-muted">1월 20일(감염차수 : 1차)</small>
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <i class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <a href="#" class="text-primary font-weight-bold mb-1 d-block">Product on the Bootstrap Market</a>
                        <small>Dave Gamache added
                            <span class="font-weight-bold">Admin Dashboard</span>
                        </small>
                        <p>
                            <small class="text-muted">30 minutes ago</small>
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <a href="#" class="text-info font-weight-bold mb-1 d-block">Robert Delaney</a>
                        <small>Send you message
                            <span class="font-weight-bold">"Are you there?"</span>
                        </small>
                        <p>
                            <small class="text-muted">2 hours ago</small>
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <i class="mdi mdi-upload bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <a href="#" class="text-primary font-weight-bold mb-1 d-block">Audrey Tobey</a>
                        <small>Uploaded a photo
                            <span class="font-weight-bold">"Error.jpg"</span>
                        </small>
                        <p>
                            <small class="text-muted">14 hours ago</small>
                        </p>
                    </div>
                </div>
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>