<div class="modal fade" id="target9" tabindex="-1" role="dialog" aria-labelledby="target9" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자9(※ 다섯 번째 환자의 접촉자)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">아홉번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 30일</h3>
                        <small>다섯 번째 확진환자의 접촉자로 통보 받고 자택에 머무름</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 31일</h5>
                        <small>자택에 머물다 확진 판정 받고 서울의료원으로 이송</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>