<div class="modal fade" id="target16" tabindex="-1" role="dialog" aria-labelledby="target16" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자16</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">열 여섯번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 19일</h3>
                        <small>태국 여행 후 1월 19일 입국</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 25일</h5>
                        <small>저녁부터 오한 등 증상이 있어, 2월 2일까지 치료받았으나 증상이 호전되지 않아,</small>
                    </div>
                </div>

                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 3일</h5>
                        <small>전남대학교 병원 내원, 신종 코로나바이러스 감염 배제를 위해 격리조치 후 광주 보건환경연구원에 의뢰해 실시한 검사 결과 2월 4일 오전 양성으로 확인되었다.</small>
                    </div>
                </div>

                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 4일</h5>
                        <small>현재 역학조사 및 방역조치가 진행 중으로, 추가 정보가 확인되는 대로 공개할 예정이다.</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>