<div class="modal fade" id="target4" tabindex="-1" role="dialog" aria-labelledby="target4" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자4</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">네번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 20일</h3>
                        <small> 중국 후베이성 우한시에 방문하였다가 귀국</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 21일</h5>
                        <small>감기 증세로 국내 의료기관에  내원하여 진료</small>
                    </div>
                </div>
				<br>
				 <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 25일</h5>
                        <small>고열(38℃)과 근육통이 발생하여 의료기관에 재내원,  보건소 신고 후 능동감시를 실시</small>
                    </div>
                </div>	
				<br>
				<div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 26일</h5>
                        <small>근육통 악화 등으로 보건소 선별진료소를 통해 폐렴 진단을 받고 조사대상 유증상자로 분류, 같은 날 국가지정입원치료병상(분당 서울대병원) 으로 격리된 뒤 신종 코로나바이러스 검사를 실시</small>
                    </div>
                </div>
				<br>
				<div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 27일</h5>
                        <small>오전 검사 결과 국내 네 번째 감염 환자로 확진</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>