<div class="modal fade" id="target12" tabindex="-1" role="dialog" aria-labelledby="target12" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자12</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">열 두번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">~1월 19일</h3>
                        <small>업무상(관광 가이드) 일본체류</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 19일</h5>
                        <small>김포공항을 통해 입국</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 20일</h5>
                        <small>택시로 이동하여 15시경 서울시 중구 소재 음식점 방문, 택시 이용하여 서울시 중구 소재 남대문 쇼핑, 경기도 부천시 소재 극장(CGV 부천역점)에서 영화 관람(8층 5관, 19:20 백두산, 좌석번호 E5~6)</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 21일</h5>
                        <small>지하철, 택시 이용하여 12시경 인천출입국사무소 이동, 택시 이용하여 인천시 남구 소재 친구 집 방문 </small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 22일</h5>
                        <small>9시경 부천시 약국 방문 후 지하철 이용하여 서울역 이동, 서울역에 있는 편의점 등 이용, 11:01 출발 KTX 이용하여 12:59 강릉 도착, 14시경 강원 강릉시 소재 음식점 이용, 택시 이용하여 16시경 강릉시 소재 숙소(썬크루즈리조트) 이동, 17시경 커피숍 방문 후 18시경 강릉시 소재 음식점 방문, 19시경 숙소로 이동</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 23일</h5>
                        <small>숙소에서 강릉역 이동, 12:30 강릉 출발 KTX 이용하여 14:27 서울역 도착, 지하철 이용하여 부천시 소재 의료기관(부천속내과) 방문</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 24일</h5>
                        <small>지하철 이용하여 수원역 이동, 택시 이용하여 수원 소재 친척집 방문, 버스 이용하여 군포 소재 친척집 방문</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 25일</h5>
                        <small>군포 친척집에서 택시 이용하여 군포 소재 의료기관 (더건강한내과) 방문, 진료 후 군포 소재 약국(현대약국) 방문, 지하철 이용하여 자택 귀가</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 26일</h5>
                        <small>경기도 부천시 소재 극장(CGV 부천역점)에서 영화 관람(8층 4관, 17:30 남산의부장들, 좌석번호 E13~14)</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 27일</h5>
                        <small>지하철, 택시 이용하여 서울시 중구 소재 음식점 방문, 지하철 이용하여 자택 귀가</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 28일</h5>
                        <small>14시경 부천시 소재 의료기관(부천속내과) 방문 후 약국(서전약국) 방문</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 29일</h5>
                        <small>종일 집에 머무름</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 30일</h5>
                        <small>택시 이용하여 10시경 부천보건소 선별진료소 방문, 택시 이용하여 자택 귀가, 13시경 부천시 소재 의료기관(순천향대학교부속 부천병원) 방문, 17시 자가 격리 시작</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 31일</h5>
                        <small>종일 집에 머무름</small>
                    </div>
                </div>
				<br>
				 <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 1일</h5>
                        <small>일본의 확진환자로부터 검사권유를 받았다고 진술했으며, 의료기관을 방문하여 2월 1일 확진돼 분당서울대병원에 격리 입원 중</small>
                    </div>
                </div>	
			
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>