<div class="modal fade" id="target19" tabindex="-1" role="dialog" aria-labelledby="target19" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자19</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">열 아홉번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 18일~23일</h3>
                        <small>19번째 환자(36세 남성, 한국인)는 17번째 환자와 동일한 컨퍼런스 참석 차 싱가포르 방문(1월 18일~23일) 후 귀국</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 4일~5일</h5>
                        <small>컨퍼런스에 참석했던 말레이시아 환자 확진에 따라 통보를 받고 관할 보건소로 연락, 2.4일부터 자가격리 시행중이었으며, 2/5일 17번째 환자 확진 후 시행한 검사 상 양성으로 확인되었다.</small>
                    </div>
                </div>

                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">2월 5일</h5>
                        <small>환자는 국가지정입원치료병상(서울의료원)에 격리조치 되었으며 역학조사가 진행 중으로, 추가 정보가 확인되는 대로 공개할 예정이다.</small>
                    </div>
                </div>
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>