<div class="modal fade" id="target7" tabindex="-1" role="dialog" aria-labelledby="target7" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">확진자7</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
       

<div class="card col-lg-12">
    <div class="card-body">
        <h4 class="header-title mb-2">일곱번째 확진자 동선</h4>

        <div class="slimscroll1">
            <div class="timeline-alt pb-0">
                <div class="timeline-item">
                    <i class="mdi bg-info-lighten text-info timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-info font-weight-bold mb-1 d-block">1월 23일</h3>
                        <small> 중국 우한에서 청도를 거쳐 인천공항으로 입국(22:20 청도항공 QW9901 (청도→인천))</small>
                    </div>
                </div>
				<br>
                <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 26일</h5>
                        <small>기침이 약간 있었다가 28일 감기 기운, 29일부터 발열(37.7℃), 기침, 가래 등의 증상이 뚜렷해져 보건소로 신고 하였다. </small>
                    </div>
                </div>
				<br>
				 <div class="timeline-item">
                    <i class="mdi bg-primary-lighten text-primary timeline-icon"></i>
                    <div class="timeline-item-info">
                        <h5 class="text-primary font-weight-bold mb-1 d-block">1월 30일</h5>
                        <small>보건소 조사결과 의사환자(조사대상 유증상자)로 분류, 자가격리 후 시행한 검사 결과 1월 30일 저녁 확진되어, 서울의료원에 격리 조치 하였다.</small>
                    </div>
                </div>	
				
            </div>
            <!-- end timeline -->
        </div> <!-- end slimscroll -->
    </div>
    <!-- end card-body -->
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>